<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
       layout:decorate="~{master.html}">  
<head>
    <meta charset="UTF-8">
    <title>Editar Videojuego</title> </head>
<body>

<div layout:fragment="form">
    <br>
		<div th:if="${#fields.hasErrors('*')}">
			<p style="color: red;">¡Hay errores en el formulario!</p>
			<ul>
				<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
			</ul>
		</div>
		<form th:action="@{'/admin/videojuegos/' + ${videojuego.id} + '/editar'}" method="post" th:object="${videojuego}" enctype="multipart/form-data" >
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <div class="mb-3">
                <label for="titulo" class="form-label">Título: </label>
                <input type="text" id="titulo" placeholder="Introduce título"
                       th:field="*{titulo}"
                       th:classappend="'form-control ' + (${#fields.hasErrors('titulo')} ? 'is-invalid' : '')">
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('titulo')}"
                     th:errors="*{titulo}"></div>
            </div>

            <div class="mb-3">
                <label for="sinopsis" class="form-label">Descripción: </label>
                <textarea id="descripcion" placeholder="Introduce descripcion"
                          th:field="*{descripcion}"
                          th:classappend="'form-control ' + (${#fields.hasErrors('descripcion')} ? 'is-invalid' : '')" rows="8" cols="60"></textarea>
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('descripcion')}"
                     th:errors="*{sinopsis}"></div>
            </div>

            <div class="mb-3">
                <label for="fechaEstreno" class="form-label">Fecha de lanzamiento: </label> <input type="date" id="fechaEstreno" placeholder="Introduce fecha de lanzamiento"
                       th:field="*{fechaEstreno}"
                       th:classappend="'form-control ' + (${#fields.hasErrors('fechaEstreno')} ? 'is-invalid' : '')">
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('fechaEstreno')}"
                     th:errors="*{fechaEstreno}"></div>
            </div>

            <div class="mb-3">
                <label for="youtubeTrailerId" class="form-label">Enlace a YouTube (Trailer ID): </label> <input type="text" id="youtubeTrailerId" placeholder="Introduce ID de vídeo de YouTube"
                       th:field="*{youtubeTrailerId}"
                       th:classappend="'form-control ' + (${#fields.hasErrors('youtubeTrailerId')} ? 'is-invalid' : '')">
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('youtubeTrailerId')}"
                     th:errors="*{youtubeTrailerId}"></div>
            </div>

            <div class="mb-3">
                <label for="portada" class="form-label">Portada: </label>
                <div th:if="${videojuego.rutaPortada != null and videojuego.rutaPortada != ''}">
                    <img th:src="@{/assets/{filename}(filename=${videojuego.rutaPortada})}" alt="Portada actual" style="max-width: 150px; margin-bottom: 10px;">
                    <p class="form-text text-muted">Portada actual. Para cambiarla, sube un nuevo archivo.</p>
                </div>
                <input type="file" name="portada" id="portada"
                       th:field="*{portada}"
                       th:classappend="'form-control ' + (${#fields.hasErrors('portada')} ? 'is-invalid' : '')">
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('portada')}"
                     th:errors="*{portada}"></div>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Géneros de Videojuego:</label>
                <br />
                <div style="display: flex; flex-wrap: wrap;">
                    <div th:each="generoVideojuego : ${generosVideojuego}" style="width: 33.33%;">
                        <input type="checkbox" th:field="*{generos}" th:value="${generoVideojuego.id}" th:id="'genero-' + ${generoVideojuego.id}"
                            class="form-check-input" />
                        <label th:for="'genero-' + ${generoVideojuego.id}" class="form-check-label"
                            th:text="${generoVideojuego.nombre}"></label>
                            <br /> 
                     </div>
                </div>
                <div class="invalid-feedback"
                    th:if="${#fields.hasErrors('generos')}" th:errors="*{generos}"></div>
            </div>

            <div class="text-end">
                <button type="submit" class="btn btn-primary">Guardar Cambios</button> </div>
        </form>
</div>
</body>
</html>