<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{master.html}">
<head>
    <meta charset="UTF-8">
    <title>Mi Lista de Favoritos</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="texto_superior">Mi Lista de Favoritos</h1>
    <div>
        <br><br>

        <h2 class="texto_seccion_favoritas">Películas Favoritas</h2>
        v
        <div th:if="${#lists.isEmpty(peliculasFavoritas)}">
            <p>Aún no has añadido ninguna película a tu lista de favoritos.</p>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4" th:unless="${#lists.isEmpty(peliculasFavoritas)}">
            <div class="col" th:each="pelicula : ${peliculasFavoritas}">
                <div class="card-favorita">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img th:if="${pelicula.rutaPortada}" th:src="@{/assets/{filename}(filename=${pelicula.rutaPortada})}" class="img-fluid rounded-start" th:alt="${pelicula.titulo}" style="max-height: 150px; width: auto;">
                            <img th:unless="${pelicula.rutaPortada}" src="https://via.placeholder.com/150" class="img-fluid rounded-start" th:alt="Sin portada" style="max-height: 150px; width: auto;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${pelicula.titulo}"></h5>
                                <p class="card-text"><small class="badge rounded-pull bg-grey text-white me-1">Fecha de Estreno: <span th:text="${#temporals.format(pelicula.fechaEstreno, 'dd/MM/yyyy')}"></span></small></p>
                                <a th:href="@{/peliculas/{id}(id=${pelicula.id})}" class="btn btn-sm btn-info">Ver Detalle</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>       
        <br>
        <br>

        <h2 class="texto_seccion_favoritas">Series Favoritas</h2>
        <br>
        <div th:if="${#lists.isEmpty(seriesFavoritas)}">
            <p>Aún no has añadido ninguna serie a tu lista de favoritos.</p>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4" th:unless="${#lists.isEmpty(seriesFavoritas)}">
            <div class="col" th:each="serie : ${seriesFavoritas}">
                <div class="card-favorita">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img th:if="${serie.rutaPortada}" th:src="@{/assets/{filename}(filename=${serie.rutaPortada})}" class="img-fluid rounded-start" th:alt="${serie.titulo}" style="max-height: 150px; width: auto;">
                            <img th:unless="${serie.rutaPortada}" src="https://via.placeholder.com/150" class="img-fluid rounded-start" th:alt="Sin portada" style="max-height: 150px; width: auto;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${serie.titulo}"></h5>
                                <p class="card-text"><small class="badge rounded-pull bg-grey text-white me-1">Fecha de Estreno: <span th:text="${#temporals.format(serie.fechaEstreno, 'dd/MM/yyyy')}"></span></small></p>
                                <a th:href="@{/series/{id}(id=${serie.id})}" class="btn btn-sm btn-info">Ver Detalle</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

		<br>
        <br>
		<br>
        <br>

        <h2 class="texto_seccion_favoritas">Videojuegos Favoritos</h2>
        <br>
        <div th:if="${#lists.isEmpty(videojuegosFavoritas)}">
            <p>Aún no has añadido ningun videojuego a tu lista de favoritos.</p>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4" th:unless="${#lists.isEmpty(videojuegosFavoritas)}">
            <div class="col" th:each="videojuego : ${videojuegosFavoritas}">
                <div class="card-favorita">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img th:if="${videojuego.rutaPortada}" th:src="@{/assets/{filename}(filename=${videojuego.rutaPortada})}" class="img-fluid rounded-start" th:alt="${videojuego.titulo}" style="max-height: 150px; width: auto;">
                            <img th:unless="${videojuego.rutaPortada}" src="https://via.placeholder.com/150" class="img-fluid rounded-start" th:alt="Sin portada" style="max-height: 150px; width: auto;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${videojuego.titulo}"></h5>
                                <p class="card-text"><small class="badge rounded-pull bg-grey text-white me-1">Fecha de Estreno: <span th:text="${#temporals.format(videojuego.fechaEstreno, 'dd/MM/yyyy')}"></span></small></p>
                                <a th:href="@{/videojuegos/{id}(id=${videojuego.id})}" class="btn btn-sm btn-info">Ver Detalle</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
</body>
</html>